html,
body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
}

.list-container {
  border: solid #cccccc;
  border-width: 5px;
  padding: 20px 40px;
  width: 550px;
}

.list-title {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.todo-item {
  font-family: Arial, sans-serif;
  font-size: 25px;
  padding: 0px 20px;
}

.todo-item:hover {
  color: #2323aa;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: #999999;
  text-decoration-thickness: 3px;
}

.description {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

li {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px 0px;
}

.fake-checkbox {
  display: flex;
  align-items: center;
}

.fake-checkbox::before {
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #999999;
  border-radius: 3px;
  transition: all .275s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ label::after {
  position: relative;
  display: block;
  content: '';
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
  top: -7px;
  left: -18px;
  margin-right: -15px;
}

input[type=text] {
  width: 80%;
  height: 30px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#add-button {
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #eeeeee;
  background-color: #2323aa;
  border: 0px;
  padding: 10px 20px;
  margin: 0px 20px;
  cursor: pointer;
}

#add-button:hover {
  background-color: #5353dd;
}

#back-button {
  /*position: absolute;*/
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #444444;
  background-color: #dddddd;
  border: 0px;
  padding: 10px 20px 10px 50px;
  /*margin: 20px 0px 0px 400px;*/
  cursor: pointer;

}

#back-button a {
  top: 50%;
}

#back-button:hover {
  background-color: #eeeeee;
}

.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  position: relative;
  top: 10px;
  left: -30px;
  width: 50%;
  height: 3px;
  background-color: #444444;
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 68%;
  height: 3px;
  right: 10px;
  background-color: #444444;
}

.arrow::after {
  top: -3px;
  transform: rotate(-45deg);
}

.arrow::before {
  top: 3px;
  transform: rotate(45deg);
}

.delete-button {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  height: 30px;
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid;
  border-radius: 50%;
  border-color: #aaaaaa;
  text-align: center;
  text-decoration: none;
  cursor: default;
  background-color: #ffffff;
  cursor: pointer;
}

.delete-button::before {
  position: absolute;
  top: 5px;
  left: 13px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #aaaaaa;
  transform: rotate(45deg);
}

.delete-button::after {
  position: absolute;
  top: 5px;
  left: 13px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #aaaaaa;
  transform: rotate(-45deg);
}

.delete-button:hover {
  border-color: #ff0000;
  background-color: #ff8888;
  color: #dddddd;
  transition: #dddddd .3s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0px
}
